body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile {
    display: flex;
    align-items: center;
}

.profile-photo {
    flex: 0 0 100px; /* 写真の幅を固定 */
    margin-right: 20px; /* 写真とテキストの間にマージンを追加 */
}

.profile-photo img {
    width: 100px; /* 写真の幅を設定 */
    height: auto; /* 高さを自動調整 */
    border-radius: 50%; /* 写真を丸くする */
    display: block; /* ブロック要素にする */
    margin-right: auto; /* 右マージンを自動にする */
}

.profile-text {
    flex: 1; /* 残りのスペースをテキスト部分が占める */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #1a0dab;
}
/* 既存のスタイルに追加 */

/* 小さい画面（スマートフォンなど）用のスタイル */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .profile, .career {
        width: 100%;
    }

    .profile img {
        margin: 0 auto; /* 中央に配置 */
    }
}

/* タブレットサイズのスタイル */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}
