body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile, .career {
    padding: 20px;
    width: 50%;
}

.profile img {
    width: 10px; /* 写真の幅を50pxに設定 */
    height: auto; /* 高さは幅に応じて自動調整 */
    border-radius: 25% 10%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #1a0dab;
}

/* 小さい画面（スマートフォンなど）用のスタイル */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .profile, .career {
        width: 100%;
    }

    .profile img {
        margin: 0 auto; /* 中央に配置 */
    }
}

/* タブレットサイズのスタイル */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}
